@import url('https://fonts.googleapis.com/css?family=Lato');

#map {
  height: 80%;
  position: fixed;
  bottom: 0;
}

html, body {
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333739;
}

header{
  text-align: center;
  font-size: 80px;
  color: #333739;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.container{
  padding: 10px;
}

.addressItem{
  padding: 10px;
  background-color: #97A2A8;
  color: white;
  border-radius: 4px;
}
.addressItem:hover{
  background-color: #2ecc71;
  color: white;
  border-radius: 4px;
}

#selectionText{
  font-size: 16px;
  color: #97A2A8;
}
